# **Taller de Python**
## Profesor: Juan S. Moreno P. y Julián Chitiva

# Clase 9: Pandas III y visualización

In [1]:
import pandas as pd
import numpy as np

## Importación y exportación de datos

1. Cargue los datos de *info_accidentes.csv*. Realice una exploración básica de los datos.

In [2]:
accidentes= pd.read_csv('info_accidentes.csv')
print(accidentes.shape)
accidentes.head()

(34931, 25)

,Fecha,GravedadNombre,ClaseNombre,ChoqueNombre,ObjetoFijoCodigo,ObjetoFijoNombre,OtraClase,NombreOtraClase,Latitud,Longitud,...,TipoVia2,NumeroVia2,LetraVia2,CardinalVia2,Localidad,HoraOcurrencia,TipoDiseño,TipoTiempo,TotalMuertos,TotalHeridos
0,01/13/2016 12:00:00 AM,Con Heridos,Choque,Vehiculo,,,,,0.0,0.0,...,CL,83.0,,,ENGATIVA,12/31/1899 10:30:00 PM,Interseccion,Normal,0,2
1,01-12-16 0:00,Con Heridos,Atropello,,,,,,0.0,0.0,...,KR,7.0,,,USAQUEN,12/31/1899 03:40:00 PM,Interseccion,Normal,0,1
2,01/13/2016 12:00:00 AM,Solo Daños,Choque,Vehiculo,,,,,0.0,0.0,...,KR,5.0,,E,SAN CRISTOBAL,12/31/1899 07:20:00 AM,Tramo de Via,Normal,0,0
3,01/17/2016 12:00:00 AM,Solo Daños,Choque,Vehiculo,,,,,0.0,0.0,...,KR,107.0,,,ENGATIVA,12/31/1899 06:10:00 AM,Tramo de Via,Normal,0,0
4,01/18/2016 12:00:00 AM,Solo Daños,Choque,Vehiculo,,,,,0.0,0.0,...,CL,48.0,,S,RAFAEL URIBE URIBE,12/31/1899 05:00:00 PM,Tramo de Via,Normal,0,0

4. Cambie Fecha a formato datetime

5. Construya las variables mes y dia con base en el dia y mes de la fecha. 
Explore el locale español (Unix (mac/linux): es_ES.UTF-8, Windows: spanis_SPAIN.1252)

6. Convierta las variables en categóricas para que pueda ordenarlas como desee.

7. ¿Cuántos accidentes hubo por mes? ¿Cuántos muertos y heridos? Para agrupar se utiliza el comando [groupby](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.groupby.html).

8. ¿Cuántos accidentes hubo por día de la semana? ¿Cuántos muertos y heridos?

9. ¿Cuántos accidentes hubo por día de la semana proporcionalmente? ¿Cuántos muertos y heridos?

10. Usando `groupby`, encuentre el cuantos accidentes hubo por día de la semana en cada mes

11. Sin usar Groupby, encuentre el cuantos accidentes hubo por día de la semana en cada mes

12. Construya las columnas que representen la dummy de día de la semana

13. Construya una nueva base que tenga los meses en las columnas, los días en las filas y en cada entrada de la base el Total de heridos

14. Construya una nueva base que tenga los meses en las columnas, los días en las filas y entradas que tengan el Total de heridos y muertos, su media y desviación estándar.

15. Construya en la base accidentes la columna que indique si es fin de semana o no.

16. Muestre el número de accidentes por si fue en fin de semana, tipo de tiempo y Gravedad del accidente

17. Ordene la base por mes, día de la semana, número de heridos y número de muertos

# Clase 9.2: Más exploración y Visualización de datos

**El día de hoy trabajaremos con las bases de datos de E-commerce de ventas de [Olist](https://olist.com/) en Brasil. Acceda esta base de datos se encuentra en [Kaggle](https://www.kaggle.com/olistbr/brazilian-ecommerce).**

### Manipulación
1. Importe la base de datos olist_customers_dataset.csv para obtener los directorios de clientes.
2. Importe la base de datos olist_geolocation_dataset.csv para obtener la información espacial de [Brasil](https://es.wikipedia.org/wiki/Geograf%C3%ADa_de_Brasil#/media/Archivo:Brasil_administrative_map_ES.png).
3. Importe la base de datos olist_order_payments_dataset.csv para obtener información sobre los pagos.
4. Importe la base de datos olist_order_items_dataset.csv para obtener la información de los productos vendidos.
5. Importe la base de datos olist_products_dataset.csv para obtener información de los productos.
6. Importe la base de datos olist_sellers_dataset.csv para obtener la información de los vendedores.
7. Importe la base de datos olist_orders_dataset.csv para obtener información de las entregas.
8. Importe la base de datos product_category_name_translation.csv para traducir a inglés los tipos de productos

Explore que variables y que tamaño tienen las bases anteriores. Use los métodos ___unique()___, ___nunique()___ e ___isin()___ para explorar las bases y su relación con otras.

In [56]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [57]:
clientes=pd.read_csv('brazilian-ecommerce/olist_customers_dataset.csv')
print(clientes.shape)
clientes.head()

(99441, 5)

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP

In [58]:
geo_brasil=pd.read_csv('brazilian-ecommerce/olist_geolocation_dataset.csv')
print(geo_brasil.shape)
geo_brasil.head()

(1000163, 5)

,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
0,1037,-23.545621,-46.639292,sao paulo,SP
1,1046,-23.546081,-46.644820,sao paulo,SP
2,1046,-23.546129,-46.642951,sao paulo,SP
3,1041,-23.544392,-46.639499,sao paulo,SP
4,1035,-23.541578,-46.641607,sao paulo,SP

In [59]:
pagos=pd.read_csv('brazilian-ecommerce/olist_order_payments_dataset.csv' )
print(pagos.shape)
pagos.head()

(103886, 5)

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33
1,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.39
2,25e8ea4e93396b6fa0d3dd708e76c1bd,1,credit_card,1,65.71
3,ba78997921bbcdc1373bb41e913ab953,1,credit_card,8,107.78
4,42fdf880ba16b47b59251dd489d4441a,1,credit_card,2,128.45

In [60]:
ventas=pd.read_csv('brazilian-ecommerce/olist_order_items_dataset.csv' )
print(ventas.shape)
ventas.head()

(112650, 7)

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14

In [61]:
productos=pd.read_csv('brazilian-ecommerce/olist_products_dataset.csv' )
print(productos.shape)
productos.head()

(32951, 9)

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,44.0,276.0,1.0,1000.0,30.0,18.0,20.0
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,46.0,250.0,1.0,154.0,18.0,9.0,15.0
3,cef67bcfe19066a932b7673e239eb23d,bebes,27.0,261.0,1.0,371.0,26.0,4.0,26.0
4,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,37.0,402.0,4.0,625.0,20.0,17.0,13.0

In [62]:
vendedores=pd.read_csv('brazilian-ecommerce/olist_sellers_dataset.csv' )
print(vendedores.shape)
vendedores.head()

(3095, 4)

,seller_id,seller_zip_code_prefix,seller_city,seller_state
0,3442f8959a84dea7ee197c632cb2df15,13023,campinas,SP
1,d1b65fc7debc3361ea86b5f14c68d2e2,13844,mogi guacu,SP
2,ce3ad9de960102d0677a81f5d0bb7b2d,20031,rio de janeiro,RJ
3,c0f3eea2e14555b6faeea3dd58c1b1c3,4195,sao paulo,SP
4,51a04a8a6bdcb23deccc82b0b80742cf,12914,braganca paulista,SP

In [63]:
entregas=pd.read_csv('brazilian-ecommerce/olist_orders_dataset.csv' )
print(entregas.shape)
entregas.head()

(99441, 8)

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00

In [64]:
traduccion=pd.read_csv('brazilian-ecommerce/product_category_name_translation.csv')
print(traduccion.shape)
traduccion.head()

(71, 2)

    product_category_name product_category_name_english
0            beleza_saude                 health_beauty
1  informatica_acessorios         computers_accessories
2              automotivo                          auto
3         cama_mesa_banho                bed_bath_table
4        moveis_decoracao               furniture_decor

## Estadísticas Descriptivas
1. ¿Qué producto fue el más vendido? ¿Qué tipo de producto es?

2. Pegue a la tabla de productos la traducción

3. ¿Cuánto se gastó en promedio por compra?

4. ¿Cómo se distribuyo el tipo de pago? [(PIE)](https://matplotlib.org/3.1.0/api/_as_gen/matplotlib.pyplot.pie.html)

5. ¿Cuánto se gastó en promedio por tipo de producto? [(Barras)](https://matplotlib.org/3.1.1/api/_as_gen/matplotlib.pyplot.bar.html)

6. ¿Cómo se distribuye el volumen de ventas por tipo de producto?